.search-watchlist {
  line-height: 60px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #9c9b9b;
  box-sizing: border-box;
  background-color: #0a0a0a;
  color: #9c9b9b;
  text-indent: 10px;
  z-index: 1;
}

.search-movies-admin {
  line-height: 60px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #9c9b9b;
  box-sizing: border-box;
  background-color: #e5e5e5;
  color: #9c9b9b;
  text-indent: 10px;
  z-index: 1;
}

.box {
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.search-icon {
  height: 50px;
  width: 50px;
  font-size: 10pt;
  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: #9c9b9b;
  position: absolute;
  top: 13%;
  right: 87%;
  z-index: 2;
}
