.btn-register {
  /* position: absolute; */
  /* left: 750px;
  top: 715px; */
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #f5044c;
  border-radius: 8px;
  height: 48px;
  width: 368px;
  z-index: 2;
}
.btn-login {
  /* position: absolute; */
  /* left: 750px;
  top: 715px; */
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #f5044c;
  border-radius: 8px;
  height: 48px;
  width: 368px;
  z-index: 2;
}

.btn-reset {
  /* position: absolute; */
  /* left: 750px;
  top: 715px; */
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #f5044c;
  border-radius: 8px;
  height: 48px;
  width: 368px;
  z-index: 2;
}
