.btn-register {
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #f5044c;
  border-radius: 8px;
  height: 48px;
  width: 368px;
  z-index: 2;
}
.btn-login {
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #f5044c;
  border-radius: 8px;
  height: 48px;
  width: 368px;
  z-index: 2;
}

.btn-reset {
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #f5044c;
  border-radius: 8px;
  height: 48px;
  width: 368px;
  z-index: 2;
}
