.title-form-reset {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 40px 0px;
}
.reset-prg-container {
  display: flex;
  justify-content: center;
  color: #9c9b9b;
  text-align: center;
  /* vezi Figma */
}
.reset-prg-container p {
  max-inline-size: initial;
  margin-block-start: var(--metric-box-spacing);
}

.auth-form-reset {
  display: flex;
  justify-content: center;
}

.auth-input-reset {
  margin: 5% 0%;
}

.btn-reset-container {
  margin: 40px 0px;
}

.pop-up-wrapper {
  /* position: fixed; */
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.pop-up-content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.text-pop-up {
  color: #f5044c;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.close-btn {
  color: Black;
  float: right;
}

.close-btn:hover {
  color: #f5044c;
  cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
  .reset-prg-container {
    display: inline-block;
    width: 25%;
    justify-content: center;
    /* vezi Figma */
  }
  .reset-prg-container p {
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: -11%;
    text-indent: 20px;
  }
}
