.title-form-reset {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 40px 0px;
}
.reset-prg-container {
  display: flex;
  justify-content: center;
  color: #9c9b9b;
  text-align: center;
  /* vezi Figma */
}
.reset-prg-container p {
  max-inline-size: initial;
  margin-block-start: var(--metric-box-spacing);
}

.auth-form-reset {
  display: flex;
  justify-content: center;
}

.auth-input-reset {
  margin: 5% 0%;
}

.btn-reset-container {
  margin: 40px 0px;
}

@media only screen and (max-device-width: 480px) {
  .reset-prg-container {
    display: inline-block;
    width: 25%;
    justify-content: center;
    /* vezi Figma */
  }
  .reset-prg-container p {
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: -11%;
    text-indent: 20px;
  }
}
