.title-aut {
  color: white;
  text-align: center;
  font-size: 48px;
}

.title-watchlist {
  color: white;
  text-align: left;
  font-size: 48px;
  line-height: 60px;
  font-family: "Campton";
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media only screen and (min-device-width: 481px) {
  .title-aut {
    width: 95%;
  }
}
@media only screen and (max-device-width: 480px) {
  .title-aut {
    display: flex;
    color: white;
    font-size: 30px;
    padding-top: 5%;
  }
}
