.title-form-register {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 40px 0px;
}

.auth-form-register {
  display: flex;
  justify-content: center;
}

.auth-input-register {
  margin: 5% 0%;
  display: flex;
}

.fgrt-pass-label {
  display: flex;
  justify-content: flex-end;
  margin-top: 0%;
}

.acc-prg {
  display: flex;
  justify-content: flex-end;
  margin-top: 0%;
  color: #9c9b9b;
}

.fgrt-pass-label a {
  color: #9c9b9b;
  text-decoration: none;
}

.btn-register-container {
  margin: 40px 0px;
}

.ac-prg {
  display: flex;
  justify-content: center;
  color: #9c9b9b;
  margin-top: -50px;
}

.acc-prg p a {
  color: #9c9b9b;
  padding-left: 5px;
  text-decoration: none;
  border-bottom: 1px solid #9c9b9b;
  padding-bottom: 5px;
}
