@font-face {
  font-family: "Campton";
  font-weight: 900;
  src: local("Campton"), url(./assets/fonts/CamptonBook.otf) format("opentype");
}

body {
  background-color: #010102;
  height: 100%;
  font-family: "Campton", "Arial";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
